:root {
	--primary-700: #622EA6;
	--primary-900: #251638;
	--grey-300: #ABABC4;
	--blue-grey-500: #7C7C90;
}

body {
	margin: 0;
	padding: 0;
	border: 0;

	font-size: 16px;
	background-color: #F5F5F5;
}

a {
	text-decoration: none;
}

button {
	font-family: inherit;
	font-size: inherit;
}
